@font-face {
    font-family: Roboto-regular;
    src: url(../fonts/Roboto-Regular.ttf) format('opentype');
}

@font-face {
    font-family: Roboto-medium;
    src: url(../fonts/Roboto-Medium.ttf) format('opentype');
}

body {
    font-family: Roboto-regular;
    line-height: calc(100% + 5px);
    letter-spacing: .1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto-medium;
}

.pointer {
    cursor: pointer;
}

.list_pad {
    padding: 0 50px;
}

.DIEP__header__sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.second__header {
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
}

.DIEP__heading {
    text-align: center;
}

ul.DIEP__search {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.DIEP__table thead {
    /* background: linear-gradient(175.6deg, #3E62E3 3.02%, #6D52E7 66.82%); */
    background: linear-gradient(180deg, #23A4DD 0%, #043E76 100%);
    color: #fff;
}

.DIEP__table tbody>tr {
    transition: .5s;
}

.DIEP__table tbody>tr:hover {
    /* background-color: #f7f4ff; */
    background-color: #e5f6fd;
}

.DIEP__table tbody tr:nth-of-type(odd) {
    /* background-color: #faf8ff; */
    background-color: #f8fdff;
}

.DIEP__table th {
    font-family: Roboto-medium;
    font-weight: normal;
}

.DIEP__table__tabs li a {
    /* background: #ddd5ff; */
    color: #fff;
    padding: 11px 20px;
    margin-right: 5px;
    display: block;
    border-radius: 10px 10px 0px 0px;
    text-decoration: none;
    font-family: Roboto-medium;
}

.DIEP__table__tabs li a span {
    font-size: 18px;
}

/* .DIEP__table__tabs li a.active {
    background: #c58018;
} */
.activated {
    background: #daffe2;
    border: 1px solid #0b9128;
    color: #0b9128 !important;
}

.activated.active {
    background: #0b9128;
    border: 1px solid #daffe2;
    color: #fff !important;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, .5));
}

.deactivated {
    background: #ffe1e3;
    border: 1px solid #cf3e46;
    color: #cf3e46 !important;
}

.deactivated.active {
    background: #cf3e46;
    border: 1px solid #ffe1e3;
    color: #fff !important;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, .5));
}

.DIEP__table td h6 {
    color: #c58018;
}

.mail__text {
    /* background: #f5f3fb; */
    background: #fffaf2;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
}

.mail__text:last-child {
    margin-bottom: 0;
}

.view__btn {
    background: #c58018;
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 7px 10px;
    border-radius: 5px;
    border: unset;
    box-shadow: unset;
    transition: .5s;
    outline: none !important;
}
.view__btn:hover{
    transform: scale(1.1);
}
.list__export__icons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: end;
}

.list__export__icons li {
    background: #f8fdff;
    /* border: 1px solid #6D52E7; */
    border: 1px solid #043E76;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .5s;
}

.list__export__icons li:last-child img {
    filter: invert(.6);
}

.list__export__icons li:hover img {
    filter: invert(0);
}

.list__export__icons li:hover {
    /* background-color: #6D52E7; */
    background: linear-gradient(180deg, #23A4DD 0%, #043E76 100%);
    transform: scale(1.1);
}

.list__export__icons li img {
    width: auto;
    height: 25px;
    display: block;
    margin: 0 auto;
    margin-top: 2px;
    border-radius: 5px;
}

/* Pagination css start */

.pagination {
    justify-content: center;
}

.pagination>li {
    display: inline
}

.pagination>li>a,
.pagination>li>span {
    color: #1f1f1f;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    display: block;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 3;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    /* background: linear-gradient(175.6deg, #3E62E3 3.02%, #6D52E7 66.82%); */
    background: linear-gradient(180deg, #23A4DD 0%, #043E76 100%);
    border: 1px solid #c58018;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}